{% extends "user_mgt_app/base.html" %}

{% block content %}
    <div class="content-container">
        <div class="main">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, nostrum tenetur consectetur molestias ducimus aperiam porro, veniam accusamus vero ullam iure dolores, voluptatem aut at ad. Ullam labore excepturi pariatur.
        </div>
        <div class="footer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam doloribus deserunt tempore aliquam, minus ea molestiae eius voluptate porro, corporis ipsum laborum ipsa unde nihil expedita quaerat neque inventore.
        </div>
    </div>
{% endblock content %}
