{% extends "user_mgt_app/base.html" %}

{% block title %}Login | Hiring{% endblock title %}

{% block content %}
    <div id="sign-in-form-container" class="form-container">
        <h1 class="form-title">Login</h1>
        <form class="form" action="#" method="post">
            {% csrf_token %}
            <input class="form-input" type="text" name="username" id="username" placeholder="Username"><br>
            <input class="form-input" type="password" name="password" id="password" placeholder="Password" autocomplete="current-password"><br>

            <div class="form-buttons-container">
                <button class="form-button login-form-sign-in">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}
