{% extends "user_mgt_app/base.html" %}

{% block content %}
    <div class="form-container">
        <h1 class="form-title">Login</h1>
        <form class="form" action="#">
            <input class="form-input" type="text" name="" id="" placeholder="Username"><br>
            <input class="form-input" type="password" name="" id="" placeholder="Password"><br>

            <div class="form-buttons-container">
                <button class="form-button login-form-sign-in">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}
