<h2>Hello {{ request.user.first_name|default:request.user.username }}</h2>

<div>
    <!-- pending bookings -->
    {% block pending_bookings %}
    {% include "users/components/client_bookings.html" %}
    {% endblock pending_bookings %}
</div>

<div>
    <!-- accepted bookings -->
     {% block accepted_bookings %}
     {% include "users/components/clients_accepted_bookings.html" %}
     {% endblock accepted_bookings %}
</div>
<div>
    <!-- completed bookings -->
    {% block service_history %}
    {% include "users/components/service_history.html" %}
    {% endblock service_history %}
</div>