<h2>Hello {{ request.user.first_name|default:request.user.username }}</h2>

<div>
    {% block active_bookings %}
    {% include "users/components/bookings.html" %}
    {% endblock active_bookings %}
</div>

<div>
    {% block pending_bookings %}
    {% include "users/components/pending_bookings.html" %}
    {% endblock pending_bookings %}
</div>

<div>
    Performance of rating over time/Current rating
</div>

<div>
    Total income earned (Can filter by months and weeks or all time)
</div>

<div>
    History of past bookings, if none -> not available or don't show the section at all
</div>