{% load static %}

{% load user_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/side_bar.css' %}">
{% endblock styles %}

{% if request.user.is_authenticated %}
<div class="sider-bar-container">
    <div class="side-bar">
        <ul class="side-bar-list">
            {% if user|has_group:"Client" %}
            <li><a href="#">Book a service</a></li>
            {% endif %}
            {% if user|has_group:"ServiceProvider"%}
            <li>
                <a class="{% if request.resolver_match.url_name == 'my_services' %}active{% endif %}" href="{% url 'my_services' %}">My services</a>
            </li>
            <li>
                <a class="{% if request.resolver_match.url_name == 'add_service' %}active{% endif %}" href="{% url 'add_service' %}">Add service</a>
            </li>
            {% endif %}
            <li>
                <a class="{% if request.resolver_match.url_name == 'list_services' %}active{% endif %}" href="{% url 'list_services' %}">List services</a>
            </li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </div>
</div>
{% endif %}
