{% extends "users/base.html" %}

{% block title %}Login | Hiring{% endblock title %}

<!-- Navigation bar -->
{% block nav %}
    {% include "users/components/nav.html" %}
{% endblock nav %}

{% block content %}
    <div id="sign-in-form-container" class="form-container">
        <h1 class="form-title">Login</h1>
        <form class="form" action="#" method="post">
            {% csrf_token %}
            <input class="form-input" type="text" name="username" id="username" placeholder="Username"><br>
            <div class="password-container">
                <input class="form-input" type="password" name="password" id="password" placeholder="Password" autocomplete="current-password">
                <span class="toggle-password" type="button" onclick="togglePassword('password')">👁️</span>
            </div>

            <div class="form-buttons-container">
                <button class="form-button login-form-sign-in">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}
