{% extends 'users/base.html' %}

{% block title %}Send Message | Hiring{% endblock title %}

<!-- Navigation bar -->
{% block nav %}
    {% include "users/components/nav.html" %}
{% endblock nav %}

<!-- Flash messages -->
{% block messages %}
    {% include "users/components/flash_messages.html" %}
{% endblock messages %}

<!-- Side bar -->
{% block side_bar %}
  {% include "users/components/side_bar.html" %}
{% endblock side_bar %}

{% block content %}
{% if parent %}
  <div class="original-message">
    <h4>Replying to:</h4>
    <p><strong>{{ parent.sender }}</strong>: {{ parent.body }}</p>
    <hr>
  </div>
{% endif %}

<h2>Send a Message</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Send</button>
</form>
{% endblock %}
