{% extends 'users/base.html' %}

{% block title %}Send Message | Hiring{% endblock title %}

<!-- Navigation bar -->
{% block nav %}
    {% include "users/components/nav.html" %}
{% endblock nav %}

<!-- Flash messages -->
{% block messages %}
    {% include "users/components/flash_messages.html" %}
{% endblock messages %}

<!-- Side bar -->
{% block side_bar %}
  {% include "users/components/side_bar.html" %}
{% endblock side_bar %}

{% block content %}
{% if message %}
<p>
    <strong>{{message.sender}}</strong><br>
    <strong>{{message.subject}}</strong> {{message.body}}<br>
    Sent at {{message.sent_at}}

    <a href="{% url 'reply_message' message.sender.username message.id %}">Reply</a>
</p>
{% endif %}
{% endblock content %}